KS.Core/Service References/DevelopServer/KS.Server.Exceptions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KS.Server.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KS.Server.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DevelopServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DevelopServiceException" nillable="true" type="tns:DevelopServiceException" />
</xs:schema>