KS.Core/Service References/DevelopServer/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DevlopServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KS.Server.Exceptions" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/KS.Server.Model.Migration" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDevlopServer_GenerateMigration_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateMigration" />
  </wsdl:message>
  <wsdl:message name="IDevlopServer_GenerateMigration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateMigrationResponse" />
  </wsdl:message>
  <wsdl:message name="IDevlopServer_GenerateMigration_DevelopServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/KS.Server.Exceptions" name="detail" element="q1:DevelopServiceException" />
  </wsdl:message>
  <wsdl:message name="IDevlopServer_RunMigration_InputMessage">
    <wsdl:part name="parameters" element="tns:RunMigration" />
  </wsdl:message>
  <wsdl:message name="IDevlopServer_RunMigration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunMigrationResponse" />
  </wsdl:message>
  <wsdl:message name="IDevlopServer_RunMigration_DevelopServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/KS.Server.Exceptions" name="detail" element="q2:DevelopServiceException" />
  </wsdl:message>
  <wsdl:message name="IDevlopServer_GetMigrationScript_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMigrationScript" />
  </wsdl:message>
  <wsdl:message name="IDevlopServer_GetMigrationScript_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMigrationScriptResponse" />
  </wsdl:message>
  <wsdl:message name="IDevlopServer_GetMigrationScript_DevelopServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/KS.Server.Exceptions" name="detail" element="q3:DevelopServiceException" />
  </wsdl:message>
  <wsdl:portType name="IDevlopServer">
    <wsdl:operation name="GenerateMigration">
      <wsdl:input wsaw:Action="http://tempuri.org/IDevlopServer/GenerateMigration" message="tns:IDevlopServer_GenerateMigration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDevlopServer/GenerateMigrationResponse" message="tns:IDevlopServer_GenerateMigration_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDevlopServer/GenerateMigrationDevelopServiceExceptionFault" name="DevelopServiceExceptionFault" message="tns:IDevlopServer_GenerateMigration_DevelopServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RunMigration">
      <wsdl:input wsaw:Action="http://tempuri.org/IDevlopServer/RunMigration" message="tns:IDevlopServer_RunMigration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDevlopServer/RunMigrationResponse" message="tns:IDevlopServer_RunMigration_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDevlopServer/RunMigrationDevelopServiceExceptionFault" name="DevelopServiceExceptionFault" message="tns:IDevlopServer_RunMigration_DevelopServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMigrationScript">
      <wsdl:input wsaw:Action="http://tempuri.org/IDevlopServer/GetMigrationScript" message="tns:IDevlopServer_GetMigrationScript_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDevlopServer/GetMigrationScriptResponse" message="tns:IDevlopServer_GetMigrationScript_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IDevlopServer/GetMigrationScriptDevelopServiceExceptionFault" name="DevelopServiceExceptionFault" message="tns:IDevlopServer_GetMigrationScript_DevelopServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDevlopServer" type="tns:IDevlopServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateMigration">
      <soap:operation soapAction="http://tempuri.org/IDevlopServer/GenerateMigration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DevelopServiceExceptionFault">
        <soap:fault use="literal" name="DevelopServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RunMigration">
      <soap:operation soapAction="http://tempuri.org/IDevlopServer/RunMigration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DevelopServiceExceptionFault">
        <soap:fault use="literal" name="DevelopServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMigrationScript">
      <soap:operation soapAction="http://tempuri.org/IDevlopServer/GetMigrationScript" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DevelopServiceExceptionFault">
        <soap:fault use="literal" name="DevelopServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DevlopServer">
    <wsdl:port name="BasicHttpBinding_IDevlopServer" binding="tns:BasicHttpBinding_IDevlopServer">
      <soap:address location="http://localhost:51249/DevlopService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>