KS.Core/Service References/DevelopServer/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/KS.Server.Model.Migration" />
  <xs:element name="GenerateMigration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KS.Server.Model.Migration" minOccurs="0" name="migrationInfo" nillable="true" type="q1:MigrationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateMigrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KS.Server.Model.Migration" minOccurs="0" name="GenerateMigrationResult" nillable="true" type="q2:MigrationCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunMigration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KS.Server.Model.Migration" minOccurs="0" name="migrationInfo" nillable="true" type="q3:MigrationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunMigrationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMigrationScript">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KS.Server.Model.Migration" minOccurs="0" name="migrationInfo" nillable="true" type="q4:MigrationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMigrationScriptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMigrationScriptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>